* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #474747;
    height: 100vh;
    text-align: center;
}

.submit-h1 {
    font-size: 2em;
    color: #000;
    margin-bottom: 1rem;
    border: 5px solid#f10000;
    color: whitesmoke;
}
.Canva {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    position: relative;
    border: 2px solid #333;
    background-color: #87CEEB;
    margin-bottom: 20px
}

.sun {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 8vw;
    height: 8vw;
    background-color: #FFD700;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 223, 0, 0.7);
}

.build1, .build2, .build3 {
    position: absolute;
    bottom: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
    border: 4px solid #000;
}

.build1 {
    left: 80%;
    width: 20%;
    height: 35%;
    background-color: #FF6347;
}

.build2 {
    left: 70%;
    width: 12%;
    height: 40%;
    background-color: grey;
}

.build3 {
    left: 60%;
    width: 10%;
    height: 65%;
    background-color: navy;
}

.window {
    background-color: lightsteelblue;
    width: 35%;
    height: 20%;
    margin: 2%;
}

.Grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #3f9b0b;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    color: rgb(255, 255, 255);
}
